* {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f4f4f4;
}

.hero {
  text-align: center;
  padding: 100px 20px;
}

button {
  padding: 10px 20px;
  background: #4f46e5;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  opacity: 0.9;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
}

.modal-content {
  background: white;
  width: 300px;
  margin: 15% auto;
  padding: 20px;
  text-align: center;
  border-radius: 6px;
}

.close {
  float: right;
  cursor: pointer;
  font-size: 20px;
}
